.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: start;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__text {
    @include phones {
        padding: 0 12% 0 3%;
    }
}

.benefit__title {
    color: #292929;
    font-weight: bold;
    font-size: rem(27px);
    margin-bottom: rem(20px);
}

.benefit__image {
    margin-bottom: rem(10px);
}

.benefit__desc {
    line-height: rem(22px);
}