.btn {
    font-size: rem(16px);
    font-weight: 800;
    padding: rem(22px) rem(42px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    background: #FEDB3F;
    color: #000;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;

    @include tablets {
        font-size: 0.988889rem;
    }

    @include phones {
        font-size: 1.2rem;
        margin-top: 0.7rem;
    }

    @include iphoneX {
        font-size: 1rem;
    }

    @include iphone5 {
        font-size: 0.9rem;
    }

    &:hover {
        background: #FFD517;
    }

    &--theme--transparent {
        background: transparent;
        color: #fff;
        text-transform: none;

        &:hover {
            background: transparent;
            color: #908a8a;
        }
    }
}

