.fullscreen-menu.active {
    display: none;
}

.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background: #333537;
    z-index: 1000;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fullscreen-menu__close {
    display: block;
    position: absolute;
    top: 4%;
    right: -5%;
    width: 6rem;
    cursor: pointer;

    @include phones {
        right: -9%;
    }

    @include iphone5 {
        right: -12%;
        top: 4%;
    }
}

.menu {
    margin: 0 30px;
    padding-top: 5px;

    @include tablets {
        display: none;
    }
}

.menu--vertical {
    font-size: 36px;
    color: #fff;
    text-align: center;

    @include tablets {
        display: block;
    }

    @include iphoneX {
        font-size: 30px;
    }

    @include iphone5 {
        font-size: 26px;
    }
}

.menu--vertical .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}