.hamburger {
    width: 28px;
    height: 24px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
        width: 6%;
        height: 64%;
    }

    @include phones {
        width: 9%;
        height: 64%;
    }

    @include iphone5 {
        width: 10%;
        height: 69%;
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;

    @include tablets {
        height: 19%;
    }

    @include phones {
        height: 16%;
    }

    @include iphone5 {
        height: 18%;
    }
}