.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        background-color: #1968B1;
        padding: 23px 26px 23px 26px;
        margin-right: -22px;
        margin-left: rem(-20px);
        align-items: center;
    }

    @include phones {
        padding: 23px 26px 23px 18px;
        margin-left: -12px;
    }

    @include iphone5 {
        padding: 13px 23px 13px 12px;
    }
}

.logo {
    @include tablets {
        width: 10%;
    }

    @include phones {
        width: 14%;
    }

    @include iphone5 {
        width: 15%;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}