.hero {
    background: url("../img/arnaud-mesureur.png") center top no-repeat;
    background-color: #313131;
    background-size: cover;
    color: #fff;
    position: relative;

    @include tablets {
        background-position: center right 19%;
    }

    &:before {
        @include tablets {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(25, 104, 177, .1);
        }
    }
}

.hero__title-section {
    width: 45%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) rem(80px) rem(45px);

    @include tablets {
        padding: 0;
        margin-left: 0;
    }
}

.hero__main-title {
    font-size: rem(48px);
    line-height: rem(58px);
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;

    @include tablets {
        padding: 0 2%;
        font-size: 2.966667rem;
    }

    @include phones {
        padding: 0;
        font-size: 2.466667rem;
        line-height: 2.622222rem;
    }

    @include iphone5 {
        font-size: 1.766667rem;
}   }

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(28px);
}