.products-slider {
    position: relative;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.products-slider__arrow--direction--prev,
.products-slider__arrow--direction--next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    z-index: 10;

    @include tablets {
        top: 50%;
        margin-top: 0;
        margin-left: 5rem;
    }

    @include phones {
        margin-left: 0;
    }
}

.products-slider__arrow--direction--next {
    right: 5rem;

    @include phones {
        right: 0;
    }
}

.product__container {
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.product__col {
    width: 75rem;

    &--img {
        display: flex;
        align-items: center;
        background-image: url("../img/slider/bkgforboard.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100% 57%;
        max-width: 23rem;
        margin-left: 6%;

        @include tablets {
            background-position: 50% 50%;
            width: 60%;
        }

        @include phones {
            margin-top: 5rem;
            width: 75%;
        }

        @include iphone5 {
            max-width: 15rem;
            margin-top: 4rem;
            margin-bottom: 1rem;
        }

        &--position {
            position: relative;
            top: -1%;
            left: 4%;

            @include tablets {
                top: 0;
                left: 0;
            }

            @include phones {
                left: 2%;
                width: 100%;
            }

            @include iphone5 {
                left: 2%;
                max-width: 16%;
            }
        }
    }

    &--content {
        margin: 0 7%;
    }
}

.product__ingredients {
    position: relative;
    display: inline-block;

    @include tablets {
        display: none;
    }
}

.product__ingredients:hover .product__ingredients--dropdown {
    display: block;
}

.product__ingredients--dropdown {
    position: absolute;
    background: rgba(238, 235, 235, 0.8);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(7px);
    padding: 1rem;
    width: 273px;
    height: 291px;
    top: 0%;
    left: 100%;
    border-radius: 0.4rem;
    display: none;
    color: #000;
}

.product__ingredients--item {
    display: flex;
    padding-bottom: 1.3rem;
    align-items: center;
    font-size: 16px;

    &--img {
        margin-right: 6%;
    }

    &--text1 {
        margin-right: 24%;
        font-weight: 600;
    }

    &--text2 {
        margin-right: 17%;
        font-weight: 600;
    }

    &--text3 {
        margin-right: 44%;
        font-weight: 600;
    }

    &--text4 {
        margin-right: 31%;
        font-weight: 600;
    }

    &--text5 {
        margin-right: 56%;
        font-weight: 600;
    }
}

.product__ingredients-back {
    background: #3A587E;
    border-radius: 4px;
    color: #fff;
    width: 91px;
    height: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.product__ingredients-img {
    margin: 0.4rem 0 0.2rem 0;
}

.product__ingredients-title {
    margin-bottom: 0;
}

.product__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(36px);
    line-height: rem(43px);
    color: #292929;

    @include tablets {
        margin-bottom: 0.9rem;
    }

    @include iphone5 {
        font-size: 1.6rem;
    }
}

.product__content {
    margin-bottom: 1.5rem;
    margin-right: 22%;
    color: #000;

    @include tablets {
        margin-bottom: 0;
        margin-right: 0;
        font-size: 18px;
        margin: 0 29%;
        margin-bottom: 2%;
    }

    @include phones {
        margin: 0 34%;
        margin-bottom: 2%;
    }

    @include iphoneX {
        margin: 0 35%;
        margin-bottom: 1%;
        font-size: 15px;
    }

    @include iphone5 {
        font-size: rem(18px);
        margin: 0 35%;
        margin-bottom: 1rem;
    }
}

.product__desc {
    display: flex;
    margin-bottom: 0.5rem;

    @include tablets {
        justify-content: center;
        font-size: 18px;
    }

    @include iphone5 {
        font-size: rem(18px);
    }

    &-cell {
        margin-right: 4rem;
        color: #000;

        &:last-child {
            margin-right: 0;
        }
    }

    &-cell--color {
        color: #000;
    }
}

.product__values {
    display: flex;

    @include tablets {
        justify-content: center;
    }

    &-btn {
        display: flex;
        align-items: center;
    }
}

.product__price {
    font-weight: 300;
    font-size: rem(60px);
    color: #151515;
    margin-right: 4rem;

    @include iphoneX {
        font-size: 2.933333rem;
    }

    @include iphone5 {
        font-size: 2.333333rem;
        display: flex;
        align-items: center;
    }
}