.products-menu-section {
    background: url("../img/accordion/surfer2.jpg") center center/cover no-repeat;
    position: relative;
    color: #fff;

    &__title {
        color: #fff;
        margin-bottom: 34rem;
        margin-right: 80rem;

        @include tablets {
            margin-bottom: 46rem;
            margin-right: 32rem;
        }

        @include phones {
            margin-bottom: 38rem;
            margin-right: 20rem;
        }

        @include iphoneXr {
            margin-bottom: 37rem;
            margin-right: 14rem;
        }

        @include iphoneX {
            margin-bottom: 33rem;
        }

        @include iphone5 {
            margin-bottom: 30rem;
            margin-right: 14rem;
        }
    }
}

.products-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;

    &__item {
        display: flex;

        &.active {
            @include phones {
                flex-shrink: 0;
                flex-basis: 100%;
                order: 1;
            }
        }
    }

    &__title {
        position: relative;
        width: rem(100px);
        text-decoration: none;

        @include iphoneXr {
            width: 4.555556rem;
        }

        @include iphoneX {
            width: 4.355556rem;
        }

        @include iphone5 {
            width: 4.555556rem;
        }
    }

    &__image {
        height: 100%;
    }

    &__text {
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        transform: rotate(-90deg);
        text-decoration: none;
        margin: -8rem 0;

        @include iphoneX {
            font-size: 43px;
        }

        @include iphone5 {
            font-size: 36px;
        }
    }

    &__content {
        background: rgba(47, 50, 52, 0.9);
        width: 0;
        position: relative;
        overflow: hidden;
        transition: width .7s;

        @include phones {
            transition: none;
        }
    }

    &__container {
        padding: 40px 73px 45px 26px;
        display: flex;
        flex-direction: column;

        @include iphoneXr {
            padding: 40px 35px 45px 20px;
        }

        @include iphoneX {
            padding: 40px 28px 45px 20px;
        }
    }

    &__close {
        border: none;
        background: bottom;
        margin-bottom: 3rem;
        display: flex;
        justify-content: flex-end;
    }
}